<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'javaImprove' ? page.path.replace(/.+\//, '').replace('.html', '') + '-javaImprove' : '' %>">
    <% if (page.title.trim()) { %>
      <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <% } %>
    <% if (page.type === 'about') { %>
    <%- partial('partials/contributors') %>
    <% } %>
    <%- page.content %>

      <div class="guide-links">
        <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
        <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
        <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
    </div>

    <div class="footer">
      发现错误？想参与编辑？
      <a href="https://github.com/CleverFan/CleverFan.github.io/blob/2.0-cn/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
        在 Github 上编辑此页！
      </a>

        <span id="htmer_time" style="color: red;float: right"></span><span> <%- partial('partials/popular_posts') %></span>

    </div>

    <script>
        function secondToDate(second) {
            if (!second) {
                return 0;
            }
            var time = new Array(0, 0, 0, 0, 0);
            if (second >= 365 * 24 * 3600) {
                time[0] = parseInt(second / (365 * 24 * 3600));
                second %= 365 * 24 * 3600;
            }
            if (second >= 24 * 3600) {
                time[1] = parseInt(second / (24 * 3600));
                second %= 24 * 3600;
            }
            if (second >= 3600) {
                time[2] = parseInt(second / 3600);
                second %= 3600;
            }
            if (second >= 60) {
                time[3] = parseInt(second / 60);
                second %= 60;
            }
            if (second > 0) {
                time[4] = second;
            }
            return time;
        }
    </script>
    <script type="text/javascript" language="javascript">
        function setTime() {
            var create_time = Math.round(new Date(Date.UTC(2016, 11, 13, 6, 6, 6)).getTime() / 1000);
            var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
            currentTime = secondToDate((timestamp - create_time));
            currentTimeHtml = '本网站已经运行了【' + currentTime[0] + '年' + currentTime[1] + '天'
                    + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
                    + '秒】';
            document.getElementById("htmer_time").innerHTML = currentTimeHtml;
        }    setInterval(setTime, 1000);
    </script>
</div>
